<!DOCTYPE html>
<html>
<head>
	<title>Employee Information</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Information</h1>

		<p><a href="/templates/RemoveEmp.html">Remove Emmployee</a></p>
        <p><a href="/templates/GetEmp.html">List Employee</a></p>

		<body bgcolor="lightgrey">
				<div>
					<table>
						<tr>
							{% for header in headings %}
							<th>{{header}}</th>
							{% endfor %}
						</tr>
						{% for row in data %}
						<tr>
							{% for cell in row %}
							<td>
								{{cell}}
				
							</td>
							<td>
								<img src="{{ cell[5] }}" width="500" height="400">
							</td>
							{% endfor %}
						</tr>
						{% endfor %}
					</table>
			  	</div>
		</body>
	</font>
</center>
</html>
