<!DOCTYPE html>
<html>
<head>
	<title>Employee Information</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Information</h1>

		<body bgcolor="lightgrey">

				<div>
					<!-- <table>
						<tr>
							<td>Employee ID</td>
							<td>First Name</td>
							<td>Last Name</td>
							<td>Primary Skill</td>
							<td>Location</td>
						</tr>
						{% for item in data %}
						<tr>
							<td>{{item.emp_id}}</td>
							<td>{{item.first_name}}</td>
							<td>{{item.last_name}}</td>
							<td>{{item.pri_skill}}</td>
							<td>{{item.location}}</td>
						</tr>
						{% endfor %}
						<p>{{data}}</p>
						
					</table> -->
					<table>
						<tr>
							{% for header in headings %}
							<th>{{header}}</th>
							{% endfor %}
						</tr>
						{% for row in data %}
						<tr>
							{% for cell in row %}
							<td>
								{{cell}}
							</td>
							{% endfor %}
						</tr>
						{% endfor %}
					</table>
			  	</div>

		</body>
	</font>
</center>
</html>
