<!DOCTYPE html>
<html>
<head>
	<title>Employee Information</title>
</head>
<center>
	<font color="black" size="5" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Information</h1>

		<p><a href="/templates/RemoveEmp.html">Remove Emmployee</a></p>
        <p><a href="/templates/GetEmp.html">List Employee</a></p>

		<body bgcolor="lightgrey">
				<div>
					<table>
						<tr>
							{% for header in headings %}
							<th>{{header}}</th>
							{% endfor %}
						</tr>					
						{% for row in data %}
						<tr>
							<td>{{ row[0] }}</td> 
							<td>{{ row[1] }}</td>
							<td>{{ row[2] }}</td>
							<td>{{ row[3] }}</td>
							<td>{{ row[4] }}</td>
							<td><img src="{{ row[5] }}" width="100" height="100"></td>
							<td>
								<a href="RemoveEmp.html/{{row[0]}}">Delete Employee</a>
								<a href="UpdateEmp.html/{{row[0]}}">Update Employee</a>
							</td>
						</tr>
						{% endfor %}
					</table>
			  	</div>
		</body>
	</font>
</center>
</html>
