<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Information</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Database</h1>

        <p><a href="/templates/AddEmp.html">Add</a></p>
        <p><a href="/templates/UpdateEmp.html">Update</a></p>
		<p><a href="/templates/RemoveEmp.html">Remove</a></p>
		<p><a href="/templates/GetEmp.html">List</a></p>
		<p><a href="/templates/LeaveApp.html">Leave</a></p>
		<p><a href="/templates/Payroll.html">Payroll</a></p>

<a href="/about">About Us</a>
		</body>

	</font>
</center>
</html>
