<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Information</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Employee Database</h1>

		<body bgcolor="lightgrey">

			<form action="/leave" autocomplete="on" method = "POST" enctype="multipart/form-data">

				<button type="submit" formaction="/getemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">Apply Leave</button><br><br>

		  		Employee ID:<br> <input style="height:25px;font-size:14pt; color:grey;" type="number" name="emp_id" autofocus size="40"><br><br>

		  		Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="name" ><br><br>

		  		Date:<br> <input style="height:25px;font-size:14pt;color:grey;" type="date" name="date"><br><br>

		  		Leave Days:<br> <input style="height:25px;font-size:14pt;color:grey;" type="number" name="days"><br><br>

		  		Reason:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="reason"><br><br>

		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Apply</button>

			</form>
			<a href="/about">About Us</a>
			<a href="/removeRemove/{{row[0]}}">Delete Leave</a>
			
		</body>

	</font>
</center>
</html>
