<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Information</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Update Employee Database</h1>

		<body bgcolor="lightgrey">
			<form action="/removePayroll/{{name}}" method="POST">
				<h1>Payroll Inserted</h1>
				<p>{{ name }}</p>
				<p>{{ target }}</p>
		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Delete</button>

			</form>
    

<a href="/about">About Us</a>
		</body>

	</font>
</center>
</html>








