<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Information</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Update Employee Database</h1>

		<body bgcolor="lightgrey">

            <form action="/updateemp" autocomplete="on" method = "POST" enctype="multipart/form-data"></form>
            <div>
                <table>
                    <tr>
                        Employee ID: {{row.emp_id}} ><br><br>
            
                        First Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="first_name" value="{{row['first_name']}}"><br><br>
            
                        Last Name:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="last_name" value="{{row['last_name']}}"><br><br>
            
                        Primary Skills:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="pri_skill" value="{{row['pri_skill']}}"><br><br>
            
                        Location:<br> <input style="height:25px;font-size:14pt;color:grey;" type="text" name="location" value="{{row['location']}}"><br><br>
            
                        Image: <input type=file name="emp_image_file" style="height:25px;font-size:14pt;color:grey;"> <br><br></tr>
                    
                        <button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Update</button>
                    </tr>
                </table>
            </div>
            </form>

<a href="/about">About Us</a>
		</body>

	</font>
</center>
</html>








