<!DOCTYPE html>
<html>
<head>
	<title>Add Employee Information</title>
</head>
<center>
	<font color="black" size="4" style="font-family: avenir">

		<h1 style="color: DodgerBlue">Update Employee Database</h1>

		<body bgcolor="lightgrey">

			<form action="/searchemp" autocomplete="on" method = "POST" enctype="multipart/form-data">

				<h2>Search Employee</h2>
		  		Employee ID:<br> <input style="height:25px;font-size:14pt; color:grey;" type="number" name="emp_id" autofocus size="40"><br><br>

		  		<button type="submit" style="background: grey; height: 45px; width: 200px; color: white; size: 5; font:oblique;">Search</button>

				<!-- <button type="submit" formaction="/getemp" style="background: grey; height: 45px; width: 200px; color:white; font:oblique;">GET EMPLOYEE INFORMATION</button><br><br> -->

			</form>
				<table>
					<tr>
						{% for header in headings %}
						<th>{{header}}</th>
						{% endfor %}
					</tr>
					<tr>
						<td>
							{{ row.emp_id }}
						</td>
						<td>
							{{ row.first_name }}
						</td>
				</table>
<a href="/about">About Us</a>
		</body>

	</font>
</center>
</html>
